<div class="inline-block">
    <span>{{title}}<mat-icon (click)="showField = !showField">search</mat-icon></span>
    <mat-form-field *ngIf="showField" appearance="fill">
        <mat-label>{{title}}</mat-label>
        <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                (ngModelChange)="onChange($event)"
                [formControl]="control"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)">
        <mat-option *ngFor="let option of filteredValues" [value]="option">
            {{option}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>