.header {
    width: 100%;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    form {
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        app-filter {
            display: inline-block;
            width: 14.2%;
        }
        .range {width: 14.2%}
        .date-range mat-form-field {
            width: 90%;
        }
    }
    .mat-icon {
        cursor: pointer;
        vertical-align: sub;
        font-size: larger;
        display: inline;
    }
    mat-form-field {
        width: 40%;
        display: inline-block;
        margin-right: .5rem;
    }
}