<mat-card class="header">
    <form [formGroup]="searchForm">
        <app-filter 
            [title]="'Title'"
            [values]="filterOptions.titles"
            [control]="getFormControl('title')"
            (valueSelected)="filter('title', $event)">
        </app-filter>
        <app-filter
            [title]="'Division'"
            [values]="filterOptions.divisions"
            [control]="getFormControl('division')"
            (valueSelected)="filter('division', $event)">
        </app-filter>
        <app-filter
            [title]="'Project Owner'"
            [values]="filterOptions.projectOwners"
            [control]="getFormControl('projectOwner')"
            (valueSelected)="filter('projectOwner', $event)">
        </app-filter>
        <div class="range">
            <span>Budget<mat-icon (click)="showBudget = !showBudget">search</mat-icon></span>
            <div *ngIf="showBudget">
                <mat-form-field appearance="fill">
                    <mat-label>Min</mat-label>
                    <input (ngModelChange)="filter('minBudget', $event)" formControlName="minBudget" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Max</mat-label>
                    <input (ngModelChange)="filter('maxBudget', $event)" formControlName="maxBudget" matInput>
                </mat-form-field>
            </div>
        </div>
        <app-filter
            [title]="'Status'"
            [values]="filterOptions.statuses"
            [control]="getFormControl('status')"
            (valueSelected)="filter('status', $event)">
        </app-filter>
        <div class="range date-range">
            <span>Created On<mat-icon (click)="showCreated = !showCreated">search</mat-icon></span>
            <div *ngIf="showCreated">
                <mat-form-field appearance="fill">
                    <mat-label>Range</mat-label>
                    <mat-date-range-input [formGroup]="createdGroup" [rangePicker]="createdPicker">
                    <input (ngModelChange)="dateFilter('minCreated', $event)" matStartDate formControlName="start">
                    <input (ngModelChange)="dateFilter('maxCreated', $event)" matEndDate formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="createdPicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #createdPicker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
        <div class="range date-range">
            <span>Modified On<mat-icon (click)="showModified = !showModified">search</mat-icon></span>
            <div *ngIf="showModified">
                <mat-form-field appearance="fill">
                    <mat-label>Range</mat-label>
                    <mat-date-range-input [formGroup]="modifiedGroup" [rangePicker]="modifiedPicker">
                    <input (ngModelChange)="dateFilter('minModified', $event)" matStartDate formControlName="start">
                    <input (ngModelChange)="dateFilter('maxModified', $event)" matEndDate formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="modifiedPicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #modifiedPicker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card>