mat-card {
    mat-icon {
        cursor: pointer;
        position: absolute !important;
        bottom: 26% !important;
        right: 1% !important;
    }
    form {
        mat-form-field {
            width: 30%;
            margin-right: 1%;
        }
    }
}