<mat-card *ngIf="!editMode" class="line-item">
    <span>{{ project.title }}</span>
    <span>{{project.division}}</span>
    <span>{{project.projectOwner}}</span>
    <span>{{project.budget | currency}}</span>
    <span>{{project.status | titlecase}}</span>
    <span>{{project.created}}</span>
    <span>
        {{project.modified}}
        <mat-icon (click)="toggleEditMode()">edit</mat-icon>
    </span>
</mat-card>

<mat-card *ngIf="editMode" class="edit-form">
    <form [formGroup]="editForm" (ngSubmit)="toggleEditMode()">
        <mat-form-field appearance="fill">
          <mat-label>Project Owner</mat-label>
          <input formControlName="projectOwner" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let status of statuses" [value]="status">
                {{status | titlecase}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Budget</mat-label>
          <input formControlName="budget" matInput>
        </mat-form-field>
        <button mat-raised-button color="primary">save</button>
    </form>
</mat-card>