@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
}

html, body {
    height: 100%;
}

body { 
    margin: 0;
}

.mat-icon {
    font-family: 'Material Icons' !important;
}

mat-card.line-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .6rem;
    width: 100%;
    span {
        display: inline-block;
        width: 14.2%;
    }
}

mat-form-field.mat-form-field {
    width: 100%;
}

mat-card.line-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
    cursor: pointer;
    transition: box-shadow .5s ease;
}
mat-card.line-item:hover {
    box-shadow: 0px 3px 6px -1px rgb(0 0 0 / 30%), 0px 2px 1px 0px rgb(0 0 0 / 23%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.edit-form {
    margin-bottom: .6rem;
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.cdk-overlay-pane {
    max-width: unset;
    .mat-autocomplete-panel {
        width: 150px;
    }
}