<div class="dashboard">
    <app-project-statistics [projects]="filteredProjects"></app-project-statistics>
    <button mat-raised-button color="accent">Add Project</button>
    <div class="export-buttons">
        <span>Export:</span>
        <button mat-icon-button color="accent"><mat-icon>picture_as_pdf</mat-icon></button>
        <button mat-icon-button color="accent"><mat-icon>table_view</mat-icon></button>
    </div>
    <app-project-filters [filterOptions]="filterOptions"></app-project-filters>
    <app-project-list [projects]="filteredProjects"></app-project-list>
</div>